@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
body {
    width: 1440px;

}
.boxparent {
    display: flex;
    
    
}

.cards {
    
display: flex;
width:300px;
gap: 30px;
flex-direction: column;
position: absolute;
margin: 200px 150px;

}
 
.cardFront {
   
    
}
.cardBack {
margin-left: 50px;

}

.siteImage {
}

input {
    border-radius: 10px;
    border: solid 2px hsl(270, 3%, 87%);
    text-align: left;
    padding: 12px 20px;
    font-family:'Space Grotesk', sans-serif;
 
}
.boxes {
    display:grid;
    grid-template-columns: 1fr 1fr;
  
}
.firstBox {
    width:100%
}
.secondBox {
    display: flex;
    align-items: center;
    margin: 100px;
    width: 100%;
    font-family:'Space Grotesk', sans-serif;

}
 
.lowerInputs {
    display: flex;
    flex-direction: column;
    
}
button {
    padding: 12px 20px;
    border-radius: 10px;
   background-color: hsl(278, 68%, 11%);
   font-family:'Space Grotesk', sans-serif;
   color: hsl(0, 0%, 100%);
}
.frontHolder {
    position: absolute;
    margin: 130px 30px;
    word-spacing: 2px;
    background: transparent;
    border: none;
    font-size: 25px;
    letter-spacing: 5px;
    
   
}
.monthHolder {
    position: absolute;
    margin: 200px 350px;
    background: transparent;
    border: none;
    font-size: 12px;
}
.nameHolder {
    position: absolute;
    margin: 200px 30px;
    background: transparent;
    border: none;
    font-size: 12px;
}
.cvc {
    position: absolute;
    margin: 100px 350px;
    background: transparent;
    border: none;
    font-size: 12px;
}
p {
    font-family:'Space Grotesk', sans-serif;
}

.cvvInput {
   margin: 3px;
    float: right;
}
.cards ::placeholder {
    color: hsl(0, 0%, 100%);
    
}
span {
    font-family:'Space Grotesk', sans-serif; }

.cards :focus {
    outline: none;
}